@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Concert+One&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');




.font-heading {
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: bold;
}

.font-title {
  font-family: "Bona Nova SC", serif;
  font-weight: 500;
  font-style: normal;
}

.font-text{
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.primary-bg{
  @apply bg-gradient-to-r from-[#2E7D32] to-[#67c06c]
}


.global-bg {
  @apply bg-gradient-to-r from-green-50 to-green-100 
}


.primary-btn {
@apply bg-green-600 text-white btn-sm rounded-lg shadow-lg hover:bg-green-500 transform hover:-translate-y-1 hover:scale-105 transition duration-300 ease-in-out font-text
}
.secondary-btn {
@apply  text-green-600  btn-sm rounded-lg border border-green-600 hover:bg-green-600 hover:text-white transform hover:-translate-y-1 hover:scale-105 transition duration-300 ease-in-out font-text
}






